@charset "utf-8";
.box {
	height: 700px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.box .nav {
	height: 155px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.box .banner {
	height: 310px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/banner.jpg);
}
.box .dbody .bottom {
	height: 150px;
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
}
